{{- if .Site.Params.widgets.categories }}
{{- if isset .Site.Taxonomies "categories" }}
{{- if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="widget-categories widget">
	<h4 class="widget__title">오라클 클라우드 관련 사이트</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item">
				<a class="widget__link" href="http://cloud.oracle.com/">
				Oracle Public Cloud 홈페이지</a>
			</li>
			<li class="widget__item">
				<a class="widget__link" href="http://developer.oracle.com/">
				Oracle Developers</a>
			</li>
			<li class="widget__item">
				<a class="widget__link" href="http://docs.oracle.com/en/cloud/">
				오라클 클라우드 공식 문서</a>
			</li>
			<li class="widget__item">
				<a class="widget__link" href="https://apexapps.oracle.com/pls/apex/f?p=44785">
				Oracle Learning Library(실습강좌)</a>
			</li>
			<li class="widget__item">
				<a class="widget__link" href="https://www.youtube.com/watch?v=28PWeD_w9zA&list=PL_lN0QYuCPSFimWrf4FpnaGAXzcBJLN7i">
				ORA 클라우드 지식먹방(Youtube 채널-한국어)</a>
			</li>
			<li class="widget__item">
				<a class="widget__link" href="http://post.naver.com/odpkorea">
				Oracle Digital Prime(한글)</a>
			</li>
		</ul>
	</div>
</div>
{{- end }}
{{- end }}
{{- end }}
